In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
  
df = pd.read_csv('C:/Users/macke/Desktop/study_project/my_projects/restaurant_demand_forecasting/data/cleaned_air_visit_data.csv')
df.head()

           air_store_id  visit_date  visitors day_of_week
0  air_ba937bf13d40fb24  2016-01-13        25   Wednesday
1  air_ba937bf13d40fb24  2016-01-14        32    Thursday
2  air_ba937bf13d40fb24  2016-01-15        29      Friday
3  air_ba937bf13d40fb24  2016-01-16        22    Saturday
4  air_ba937bf13d40fb24  2016-01-18         6      Monday

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252108 entries, 0 to 252107
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   air_store_id  252108 non-null  object
 1   visit_date    252108 non-null  object
 2   visitors      252108 non-null  int64
 3   day_of_week   252108 non-null  object
dtypes: int64(1), object(3)
memory usage: 7.7+ MB

In [26]:
df.dtypes

air_store_id    object
visit_date      object
visitors         int64
day_of_week     object
dtype: object

In [28]:
df['visit_date'] = pd.to_datetime(df['visit_date'])                                     # Convert date column to datetime type

In [30]:
df.dtypes

air_store_id            object
visit_date      datetime64[ns]
visitors                 int64
day_of_week             object
dtype: object

In [34]:
# Create date-based features
df['year'] = df['visit_date'].dt.year
df['month'] = df['visit_date'].dt.month
df['day'] = df['visit_date'].dt.day
df['day_of_week'] = df['visit_date'].dt.dayofweek  # 0 = Monday
df['week'] = df['visit_date'].dt.isocalendar().week
df['is_weekend'] = df['day_of_week'].isin([5, 6]).astype(int)

In [42]:
df.head()

,air_store_id,visit_date,visitors,day_of_week,year,month,day,week,is_weekend
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,13,2,0
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,14,2,0
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,15,2,0
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,16,2,1
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,18,3,0

In [44]:
store_stats = df.groupby('air_store_id')['visitors'].agg(['mean', 'median', 'min', 'max', 'std']).reset_index()

store_stats.columns = ['air_store_id', 'mean_visitors', 'median_visitors', 'min_visitors', 'max_visitors', 'std_visitors']

In [46]:
df = pd.merge(df, store_stats, on='air_store_id', how='left')

In [48]:
# Encode air_store_id as numbers (optional for ML)
df['store_id_encoded'] = df['air_store_id'].astype('category').cat.codes

In [50]:
df.to_csv('C:/Users/macke/Desktop/study_project/my_projects/restaurant_demand_forecasting/data/feature_engineered_data.csv', index=False)